node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.dev.vars*
!.dev.vars.example
!.env.example
out
*.tgz
coverage
*.lcov
logs
_.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.eslintcache
.cache
*.tsbuildinfo
.idea
.vscode
.envrc

# TypeSpec output
api-spec/tsp-output/
api-spec/dist/
